body , html{
  height: auto;
  width: auto;
  margin: 0px;
  background-color:	#c5ebff;
}
.menu{

  width:inherit;
  display:flex;
  background:linear-gradient(to bottom,#FFC6A8 ,#B7D7D8);
  list-style-type:none;
  margin: 0;
  overflow: visible;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  top: 30%;
}


.menu li{
  display: flex;
  flex: 1;
}
.menu li a{

  display: inline;
  flex: 1;
  color:white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
  font-size:2em;
  font-family:fontAwesome;
  }
.menu li a:hover{
  background:linear-gradient(to bottom,#204E5F ,#FF8984);
}
.dropdown-content{
  padding-top: 1%;
  display: none;
  position: absolute;
  background: linear-gradient(to bottom,#FFC6A8,#B7D7D8);
  min-width: 160px;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a{
  color:white;
  padding: 2px 2px;
  text-decoration: none;
  display: block;
  font-style: italic;
  font-weight: bold;
  font-size:2em;
  font-family:fontAwesome;
}
.dropdown-content a:hover{background:linear-gradient(to bottom,#204E5F ,#FF8984);}
.dropdown:hover .dropdown-content{display: block;}


.text-block p {
  position: right;
  bottom: 50px;
  color: black;
  font-size: 300%;
  font-style: italic;
  padding-left: 0;
  margin: 0;
  border: 0;
display: inline;
}
.main{
  height: auto;
  width: auto;
}
.Flex img{
  width: 50%;
  align-items: center;
  padding-left: 25%;
  height: 90%;
}

.rezphoto{
  height: 200px;
  width: 238px;
  text-align: center;
  font-size: em;
}
.pas1{
  overflow: scroll;
  display: flex;
  list-style-type: none;
  width:auto;
}
 .pas1 li{
   margin-right: 1%;
   margin-left: 1%;
   float: right;
   position:static;
 }
 .pas1 li:hover{
   opacity: 0.6;
}
.pozaCo{
  float: right;
}
.dr{
  float:left;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}
.Text{
  text-align: center;
  font-size: 30px;
}
.Flex{
  display: flex;
}
