body,html{
  height: 100%;
  margin: 0px;
  background-color:	#FFE4E1;
  background-image: radial-gradient( #FFC6A8, #F78782, #FFDBC1);
  width: 100%;
}
.navbar1{
  width:auto;
}
.menu{

   width:100%;
  display:block;
  background:linear-gradient(to bottom right,#9E4753, #FFE4E1, #FFC6A8,#9E4753);
  list-style-type:none;
  margin: 0;
  overflow: visible;
  position: relative;
  top: 30%;
}


.menu li{
  display: flex;
  flex: 1;
}
.menu li a{

  display: inline;
  flex: 1;
  color:#9C4049;
  text-align: center;
  padding: 15px;
  padding-left:0px;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
  font-size:2em;
  font-family:fontAwesome;
  }
.menu li a:hover{
  background:linear-gradient(to bottom,#FCCAD1 ,#AB4D5A);
}
.dropdown-content{
  display: none;
  padding-top: 1%;
  position: relative;
  background: linear-gradient(to bottom right,#9E4753, #FFE4E1, #FFC6A8,#9E4753);
  min-width: 160px;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a{
  color:white;
  padding-top: 1%;
  text-decoration: none;
  display: inline;
  font-style: italic;
  font-weight: bold;
  font-size:2em;
  font-family:fontAwesome;
}
.dropdown-content a:hover{background:linear-gradient(to bottom,#FCCAD1 ,#AB4D5A);}
.dropdown:hover .dropdown-content{display: inline;}

.Flex {
  text-align: center;
  font-size: 30px;
  color: black;
  font-size: 200%;
  font-style: italic;
  padding-right: 0;
  margin: 0;
  border: 0;
display: inline;
}

.rezphoto{
  height: 200px;
  width: 238px;
  text-align: center;
}
.pas1{
  overflow: scroll;
  display: flex;
  list-style-type: none;
}
 .pas1 li{
   margin-right: 8px;
   float: left;
   position:static;
}
 .pas1 li:hover{
   opacity: 0.6;
}
.pozaCo{
  width: 100%;
  height: 15%;
  width: 100%;
}
.dr{
  float:right;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}
.main{
  text-align: center;
  text-decoration-style:wavy;
  font-style: italic;
  font-size: large;
}
